.jumbotron {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: 100% 100%;
  color: white;
  min-height: 200px;
  border-radius: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #AEA800;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-servicio {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-informacion {
  width: 100%;
  border-radius: 0px;
  background-color: #009B05;
  border-color: #009B05;
}

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.item-tablet-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.item-card-index-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
}

.img-banner {
  min-height: 150px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}

.tab-content {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
}

/*# sourceMappingURL=styles.css.map */
