$yellow: #AEA800;
$red: #FF0000;
$green: #009B05;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $bottom, $left, $right){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-left: $left;
	padding-right: $right;
}

.jumbotron {
	background-image: url(../images/banner.jpg);
	background-position: center;
	background-size: 100% 100%;
	color: white;
	min-height: 200px;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-servicio{
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-informacion {
	width: 100%;
	border-radius: 0px;
	background-color: $green;
	border-color: $green;
}

.footer-address-icon{
	@include paddings(0px, 0px, 0px, 10px);
}

.item-tablet-icon{
	@include paddings(0px, 0px, 0px, 10px);
}

.item-card-index-icon{
	@include paddings(0px, 0px, 10px, 0px);
}

.img-banner{
	min-height: 150px;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
}

.tab-content{
	@include paddings(0px, 0px, 5px, 0px);
}